body {
  font-family: Segoe Ui;
  text-align: center;
  color: #f6f6f6;
  font-size: 1em;
  margin: 0;
  background-color: #0e1c26;
}

h1 {
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #083D47;
  margin: 0 0 10px 0;
  color: #eee;
}

/* rows */

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* .row > div {
  cursor: pointer;
}

.active {
  box-shadow: inset 0 -5px 0 #083D47;
} */

.row > div {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #083D47;
  border-radius: 15%;
  margin: 2.6px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.green {
  --background: #3AA394;
  --border-color: #3AA394;
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #f19e18;
  --border-color: #f19e18;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.4s;
}

.row > div:nth-child(3) {
  animation-delay: 0.7s;
}

.row > div:nth-child(4) {
  animation-delay: 1s;
}

.row > div:nth-child(5) {
  animation-delay: 1.3s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 15px auto;
}

.keypad .click {
  cursor: pointer;
}

.keypad > div {
  margin: 4px;
  width: 40px;
  height: 50px;
  background: #083D47;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
}

.keypad > div.green {
  background: #3AA394;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.yellow {
  background: #f19e18;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

.modal {
  background: #0e1c26;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal div {
  max-width: 480px;
  background: #083D47;
  padding: 30px;
  border-radius: 10px;
  margin: 10% auto;
}
.modal .solution {
  color: #2fc2ac;
  font-weight: bold;
  font-size: 1rem;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ANIMATIONS */

@keyframes flip {
  0% {
    transform: rotateY(0);
    background: #fff;
    border-color: #333;
  }

  45% {
    transform: rotateY(90deg);
    background: #fff;
    border-color: #333;
  }

  55% {
    transform: rotateY(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }

  100% {
    transform: rotateY(0);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% { 
    transform: scale(1);
    border-color: #ddd;
  }

  50% { 
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
    border-color: #083e4973;
  }
}